@import "tailwindcss";

@theme {
  --color-app-bg: #f8fafc;
  --color-app-text: #0f172a;
}

/* Na v4, você define a variante dark assim para responder à classe no HTML */
@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-app-bg: #020617;
  --color-app-text: #f8fafc;
}

@layer base {
  body {
    background-color: var(--color-app-bg);
    color: var(--color-app-text);
    @apply transition-colors duration-300;
  }
}